# Python関連のファイル
__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境
venv/
.env/

# Docker関連
docker-compose.override.yml  # 環境ごとの設定ファイルは除外
db_data/                     # Dockerボリュームデータがホストに保存されている場合

# 環境設定
.env                         # 環境変数の設定ファイルを除外

# IDEやエディタ関連
.vscode/
.idea/
*.sublime-workspace

# OS固有のファイル
.DS_Store
Thumbs.db

# Logファイル
*.log

# node_modules
node_modules/
